* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px;
}

ul li span {
  color: red;
  border-bottom: 2px solid red;
  margin: 5px;
}

span {
  color: #BADA55;
}